.form {
    width: 300px;
    margin: 0 auto;
}

body {
    font-family: Arial, Sans-Serif;
    background-color: #3c6e71ff;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

a {
    color: #0067ab;
    text-decoration: none;
}

.btn {
    width: 100%;
}

a:hover {
    text-decoration: underline;
}

.form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 80px;
    border: 1px solid white;
    border-radius: 7px;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'],
input[type='date'] {
    width: 92%;
    border-radius: 2px;
    border: 1px solid #CCC;
    padding: 10px;
    color: #333;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
}

input[type='submit'] {
    padding: 10px 25px 8px;
    color: #fff;
    background-color: #0067ab;
    text-shadow: rgba(0, 0, 0, 0.24) 0 1px 0;
    font-size: 16px;
    box-shadow: rgba(255, 255, 255, 0.24) 0 2px 0 0 inset, #fff 0 1px 0 0;
    border: 1px solid #0164a5;
    border-radius: 2px;
    margin-top: 10px;
    cursor: pointer;
}

input[type='submit']:hover {
    background-color: #024978;
}